* {
    font-family: 'Courier New', monospace;
    text-align: center;
    background-color: black;
    color: rgb(0, 246, 0);
}

header {
    font-size: 32px;
}
/* header logo */
.header {
    height: 200px;
    width: auto;
}

 h1 a {
    text-decoration: none;
}

body {
    font-size: 18px;  
    margin: auto;
    width: 1300px;
    
}

ul{
    list-style-type: none;  
    text-align: left;
}

li {
    text-align: left;
}

ol li {
    list-style: inside;
    list-style-type:upper-roman;
}

p {
    text-align: left;
    display: inline-block;
}


.center {
    text-align: center;
}

/* unvisited link */
a:link {
    color: rgb(0, 246, 0);
  }
  
  /* visited link */
  a:visited {
    color: rgb(0, 246, 0);
  }
  
  /* mouse over link */
  a:hover {
    color: black;
    background: rgb(0, 246, 0);;
  }
  
  /* selected link */
  a:active {
    color: rgb(0, 246, 0);
  }